$pmd-motion--ease-in: cubic-bezier(0.4, 0.0, 1, 1);
$pmd-motion--ease-out: cubic-bezier(0.0, 0.0, 0.2, 1);
$pmd-motion--ease-in-out: cubic-bezier(0.4, 0.0, 0.2, 1);
$pmd-motion--ease-in-out--sharp: cubic-bezier(0.4, 0.0, 0.6, 1);
